body{
    font: 100;
    font-family: 'Courier New', Courier, monospace;

}

.chat-container {
    width: auto;
    background-color: rgb(0, 136, 255);
}

.chat-header{
    background-color: blueviolet;
}

.chat-box{
    border-bottom: 10px solid #f8093d;
}

